name: Milestone 2 CI/CD
run-name: Release ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: milestone2

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt -r requirements-dev.txt

      - name: Run tests
        run: pytest -v

  build:
    needs: test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: milestone2

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (WIF)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/${{ secrets.GCP_PROJECT_ID }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: ${{ secrets.GCP_SA }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Configure Docker auth
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build \
            -t us-central1-docker.pkg.dev/mlops-milestone-1/mlops-repo/milestone2:${{ github.ref_name }} \
            .

      - name: Push Docker image
        run: |
          docker push \
            us-central1-docker.pkg.dev/mlops-milestone-1/mlops-repo/milestone2:${{ github.ref_name }}
